:root {
  --table-width: 74%;
  --combined-margin: calc(100% - var(--table-width));
  --side-margin: calc(var(--combined-margin) / 2);
}

#intro {
  margin-top: 100px;
}

#intro + p {
  margin-top: 20px;
}

#results-preface {
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

p {
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  font-size: 15px;
  font-family: raleway;
  line-height: 1.4;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: var(--table-width);
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  font-weight: 549;
  font-size: 15px;
}

td {
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
